@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Libre+Barcode+39+Text&family=Roboto+Mono:wght@100;300;400&family=Special+Elite&family=Tomorrow:wght@100&family=VT323&display=swap");

.App {
  text-align: center;
  background-color: azure;

  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100vh; */
  overflow: auto;
  font-family: "Gugi", cursive;

  /* font-family: 'Libre Barcode 39 Text', cursive; */
  /* font-family: 'Roboto Mono', monospace;  */
  /* font-family: 'Special Elite', cursive;  */
  /* font-family: 'Tomorrow', sans-serif; */
  /* font-family: 'VT323', monospace; */
  /* font-family: Helvetica, sans-serif; */
}
img {
  object-fit: cover;
}

.Intro {
  height: 100vh;
  display: flex;
  align-items: center;
}
#heading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#h-divs {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

#icons-list {
  list-style: none;
}
.jim {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.container.img-container {
  display: flex;
  justify-content: space-evenly;
}
.img-fluid {
  width: 30%;
}
.footer-h2 {
  color: white;
}
#footer-list {
  list-style: none;
  color: #ffad00;
}
#footer-list.footer-li.footer-link.footer-links.footer-icons.bi {
  color: white;
}

.footer-list #email {
  color: white;
}
.projects {
  height: 100vh;
}
.eye {
  width: 48px;
  height: 48px;
}
.card-body.cardy {
  background: #373c49;
  color: azure;
}
.btn.bts {
  background: aliceblue;
  border: aliceblue;
  color: #6f6cde;
}
.footer-li #email {
  color: white;
}

.preloader-scan {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}
#about-me {
  height: 100vh;
}
.diode {
  animation: beam 0.01s infinite;
}
@keyframes beam {
  50% {
    opacity: 0;
  }
}

.laser {
  width: 0.1px;
  height: 64px;
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 7px blue;
  animation: scanning 2s infinite;
}

@keyframes scanning {
  50% {
    transform: translateX(100px);
  }
}

#footer-div {
  height: 30vh;
}

#about-h3 {
  padding-top: 64px;
}
#about-container {
  margin-top: 64px;
}
.container.about-img-container {
  margin-top: 64px;
}
.img-fluid.about-img {
  height: 208px;
  border: 3px solid azure;
}
.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}
.arrow1 {
  width: 32px;
  height: 32px;
  border: 3px solid #32557f;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  animation: fadeOut 3s infinite 1s;
}
.arrow2 {
  width: 32px;
  height: 32px;
  border: 3px solid #32557f;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  animation: fadeOut 3s infinite 2s;
}
.arrow3 {
  width: 32px;
  height: 32px;
  border: 3px solid #32557f;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  animation: fadeOut 3s infinite 3s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card-img-top {
  height: 50%;
}

.card {
  width: 80%;
  height: 70%;
  margin-top: 32px;
}

.projects-heading {
  margin-top: 64px;
}

main {
  /* height: 100%; */
  overflow: auto;
}

#cards-div {
  display: flex;
  font-family: "VT323", monospace;
  margin-top: 32px;
  height: 70%;
  flex-direction: column;
  align-items: center;
}
footer {
  /* height: 30%; */
  background-color: #373c49;
}

/* .nav-buttons {
  width: 160px;
  height: 48px;
  	 background: ghostwhite;
  border: none;
  border-radius: 32px;
  cursor: pointer;
	 /* font-family: Helvetica, sans-serif; */
/* font-size: 16px;
	 font-weight: 400;
  transition: all 0.1s ease-in-out;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #6f6cde; */
/* } */

/* .nav-buttons:hover {
	 opacity: 0.3;
	 box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
 .nav-buttons:active {
	 opacity: 1;
	 box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
	 color: #79e3b6;
} */

.projects-container {
  height: 100%;
}
.projects-container > h3 {
  padding-top: 64px;
}
.card > a {
  height: 50%;
}
.card > a > .card-img-top {
  height: 100%;
}
.cardy {
  height: 50%;
}

/* @media(min-width: 576px){

} */
@media (min-width: 768px) {
  #cards-div {
    justify-content: center;

    margin-top: 64px;
  }
  .card {
    width: 30%;
    height: unset;
  }
}
/* @media(min-width: 992px){

}
@media(min-width: 1200px){

}
@media(min-width: 1400px){

} */
